@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin flex {
 display: flex; 
 flex-wrap: wrap;
}

@mixin flex-center {
  @include flex;
  justify-content: center;
}

@mixin flex-space-between {
  @include flex;
  justify-content: space-between;
}

@mixin ul-reset {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow: hidden;
}
