@import "mixins";

#guide {
  .wrapper {
    margin: 5px;
  }
}
#gu-inch, #gu-view {
  margin: 5px;
}

#gu-inch {
  text-align: center;
  li {
    display: inline-block;
    font-size: 1.4rem;
    padding: 0px 20px;
    a { 
      color: #777;
      text-decoration: none;
    }
    .router-link-exact-active {
        cursor: default;
        border-bottom: 2px solid #ffa500;
      }
    :not(.router-link-exact-active):hover {
      color: red;
    }
  }
  :nth-child(n + 2) {
    border-left: 1px solid #0a0a0a5c;
  }
}

#gu-view {
  //text-align: center;
  li {
    list-style: none;
    margin: 2px 5px;
  }
  span {
    display: inline-block;
    width: 100px;
  }
}

.nv {
  margin-top: 40px;
  .navViewUl {
    @include flex-space-between;
    flex-direction: column;
    height: 200px;
    li {
      display: inline-block;
      font-size: 1rem;
      div {
        width: 180px;
        margin: 10px auto;
        > span:first-child {
          display: inline-block;
          width: 100px;
          cursor: pointer;
        }
        span {
          &.spec {
            display: inline-block;
            width: 100px;
          }
          &:nth-child(2) {
            display: inline-block;
            margin: 0px 10px 0px 30px;
          }

          button {
            padding-top: 1px;
          }
        }
      }
    }

    #navViewUl-div {
      width: 250px;
      height: 30px;
    }
  }
}
.np {
  @include flex;
  > div {
    margin: 0px 20px;
  }
  ul {
    @include ul-reset;
    li {
      margin: 0px;
    }
    span:first-child {
      display: inline-block;
      width: 100px;
    }
  }

  img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 760px) {
  #gu-inch {
    @include flex; 
    width: 300px;
    margin: 10px auto;
    li {
      font-size: 1.6rem;
      width: 130px;
      padding: 5px;
      &:nth-child(n + 2) {
        border-left: none;
      }
      &.active span {
        font-size: 1.6rem;
      }
    }
  }
}
