body {
  font-family: 'Noto Sans TC', sans-serif;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-plus:before {
    content: "\2b"
}

.glyphicon-minus:before {
    content: "\2212"
}


.logout {
  margin-left: 10px;
}

.signUp {
  height: 300px;
  /* display: -webkit-flex;
  display:         flex;
   -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center   */
  text-align: center;
  margin-top: 100px;
  div {
    margin:10px 0px;
  }
  input  {
    padding: 10px;
  }
  button {
    font-family: 'Noto Sans TC', sans-serif;
  }
}
