.menu {
  margin-top: 30px;
  text-align: center;
  ul {

    overflow: hidden;
    li {
      float: left;
      list-style: none;
      cursor: pointer;
      padding: 5px;
      margin: 5px;
      border: 1px solid #111;
      border-radius: 10px;
    }
    li:focus {
      outline: none; 
      color: red
    }
  }
  .tireHeightLi {
    padding: 5px 10px;
  }
  .tireHeight {
    clear: both;
  }

  .inputSec {
    margin-top: 20px;
    padding: 20px 10px;
    clear:both;
    span {
      font-size: 30px;
    }
    input {
      font-size: 30px;
      text-align: right;
      width: 50px;
      padding: 10px;
      border: 1px solid #111111;
      border-radius: 5px;
    }
  }

  #toggle,#togglee {
    display: none;
    visibility: hidden;
  }

  label {
    padding: 0.5em;
    text-align: center;
    color: #666;
  }
  label:hover {
    color: #000;
  }
  label::before {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    font-size: 15px;
    content: "+";
    vertical-align: text-top;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
  }
  label ~ ul {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s
  }

  #toggle:checked ~ ul {
    height: 50px;
  }
  #toggle:checked ~ label::before {
    content: "-";
  }

  #togglee:checked ~ ul {
    height: 50px;
  }
  #togglee:checked ~ label::before {
    content: "-";
  }
}
