@import 'mixins';

.navInch {
  ul {
    text-align: center;  
    li { 
      font-size: 1.5rem;
      margin: 0px; 
      padding: 0px 20px;
      span {
        display: inline-block;
        padding: 0px 10px;        
      }
      &.active span{
        font-size: 2rem;  
        border-bottom: 2px solid #ffa500
      }
    }
    :nth-child(n+2) {
      border-left: 1px solid #0a0a0a5c;
    }   
  }
}
#navView {
  margin-top: 40px;  
}

.navViewUl {
  @include flex-space-between;
  flex-direction: column;
  height: 200px;
  li {
    display: inline-block;
    font-size: 1rem;
    div {
      width: 180px;
      height: 30px;
      margin: 10px auto;
      > span:first-child {
        display: inline-block;
        width: 100px;
      }
    }
    span {
      &.specs {
        display: inline-block;
        width: 100px;
      }   
      &:nth-child(2) {
       display: inline-block;
       margin: 0px 10px 0px 30px;
      }
      
      button {
        padding: .275rem .75rem;
      }
    }  
    &:hover .specs{
      
    }
  }

  #navViewUl-div {
    width: 250px;
  }
}  
