@import 'mixins';

.navInch {
  margin-bottom: 20px;
  ul {
    text-align: center;  
    li {  
      padding: 0px 20px;
      span {
        display: inline-block;
        padding: 0px 10px;        
      }
      &.active span{
         border-bottom: 2px solid #ffa500
      }
    }
    :nth-child(n+2) {
      border-left: 1px solid #0a0a0a5c;
    }   
  }
}
.navViewUl {
  li {
    display: inline-block;
    font-size: 1rem;
    div {
      width: 180px;
      height: 30px;
      margin: 10px auto;
    }
    span {
      &.specs {
        display: inline-block;
        width: 100px;
      }   
      &:nth-child(2) {
       display: inline-block;
       margin: 0px 10px 0px 30px;
      }
    }  
    &:hover .specs{
      
    }
  }

  #navViewUl-div {
    width: 250px;
  }
}  