@import "mixins";

#overview {
  .wrapper {    
    margin-top: 10px;
    .ov-st {
      @include flex-space-between;
      .ov-st-li {
        list-style-type: none;
        width: 400px;
        .ov-st-inch {
          border-bottom: 1px solid black;
        }
      }
    }
    .ov-nd {
      @include flex;
      flex-direction: column;      
      list-style-type: none;
      height: 200px;
      .ov-nd-li {
        margin: 2px 5px;
        .ov-nd-spec {
          display: inline-block;
          width: 100px;
        }
        .ov-nd-num {
          &.zero {
            color:red;
          }
        }
      }
    }
  }
}
