@import "mixins";

#aaa {
  display: block;
}

#overview {
  #ov-inch {
    z-index: 20000;
    position: sticky;
    top: 0px;
    background-color: #35424a;
    overflow: hidden;
    ul {
      @include flex-center;
      text-align: center;
      width: 300px;
      margin: 5px auto;
      li {
        display: inline-block;
        width: 100px;
        a {
          font-size: 1.4rem;
          color: #777;
        }
      }
    }
  }
  #ov-tire {
    margin: 10px;
    .ov-tire-st {
      @include flex-space-between;
      .ov-tire-st-li {
        list-style-type: none;
        width: 400px;
        .ov-tire-st-inch {
          border-bottom: 1px solid black;
          h3 {
            display: inline-block;
          }
          &::before {
            content: "";
            display: block;
            margin-top: -109px;
            height: 109px;
            //visibility: hidden;
          }
        }
      }
      .ov-tire-nd {
        @include flex;
        flex-direction: column;
        list-style-type: none;
        height: 200px;
        .li-operate {
          text-align: center;
          button {
            display: inline-block;
            z-index: 10000;
            width: 300px;
            border: 1px solid black;
            margin-top: 15px;
          }
        }

        .ov-tire-nd-li {
          margin: 2px 5px;
          .ov-tire-nd-spec {
            display: inline-block;
            width: 100px;
          }
          .ov-tire-nd-num {
            &.zero {
              color: red;
            }
          }
        }
      }
    }
  }
}
