.top {
  .top-nav {
    ul {
      font-size: 1rem;
      //margin: auto;
      padding: 20px 0px;
      text-align: center;
    }
    li {
      display: inline-block;
      a {
        text-decoration: none;
        color: #777;
        padding: 0px 10px;
        border-right: 1px solid #ccc;
      }
      &:last-child a {
        border-right: none;
      }
    }
    .router-link-exact-active {
      color: red;
    }
    :not(.router-link-exact-active):hover {
      color: red;
    }
  }

  /*  span {
      position: absolute;
      right: 0px;
      top: 0px;
    }  */
}
